![umap in atlas](https://docs.nomic.ai/img/umap-with-nomic-atlas.png)

# UMAP of Text Embeddings with Nomic Atlas

UMAP is available as a projection in Nomic Atlas, which creates interactive maps of your data with AI analysis, vector search APIs, and additional resources like duplicate detection and topic label generation.

![text embeddings in atlas](https://assets.nomicatlas.com/airline-reviews-umap.gif)

Nomic Atlas automatically generates embeddings for your data and allows you to explore large datasets in a web browser. Atlas provides:

* In-browser analysis of your UMAP data with the [Atlas Analyst](https://docs.nomic.ai/atlas/data-maps/atlas-analyst)
* Vector search over your UMAP data using the [Nomic API](https://docs.nomic.ai/atlas/data-maps/guides/vector-search-over-your-data)
* Interactive features like zooming, recoloring, searching, and filtering in the [Nomic Atlas data map](https://docs.nomic.ai/atlas/data-maps/controls)
* Scalability for millions of data points
* Rich information display on hover
* Shareable UMAPs via URL links to your embeddings and data maps in Atlas

This example demonstrates how to use [Atlas](https://docs.nomic.ai/atlas/embeddings-and-retrieval/guides/using-umap-with-atlas) to create interactive maps of text using embeddings and UMAP.

## Setup

1. Get the required python packages with `pip instll nomic pandas`

2. Get A Nomic API key [here](https://atlas.nomic.ai/cli-login)

3. Run `nomic login nk-...` in a terminal window or

```python
import nomic
nomic.login('nk-...')
```

at the top of your code

## Download Data

In [5]:
import pandas as pd

# Example data
df = pd.read_csv("https://docs.nomic.ai/singapore_airlines_reviews.csv")
df.head()

,published_date,published_platform,rating,type,text,title,helpful_votes
0,2024-03-12T14:41:14-04:00,Desktop,1,review,We used this airline to go from Singapore to L...,Ok,0
1,2024-03-11T19:39:13-04:00,Desktop,2,review,The service on Singapore Airlines Suites Class...,The service in Suites Class makes one feel lik...,0
2,2024-03-11T12:20:23-04:00,Desktop,0,review,"Booked, paid and received email confirmation f...",Don’t give them your money,0
3,2024-03-11T07:12:27-04:00,Desktop,2,review,"Best airline in the world, seats, food, servic...",Best Airline in the World,0
4,2024-03-10T05:34:18-04:00,Desktop,0,review,Premium Economy Seating on Singapore Airlines ...,Premium Economy Seating on Singapore Airlines ...,0

## Create Atlas Dataset

In [6]:
from nomic import AtlasDataset
dataset = AtlasDataset("airline-reviews-data")

2025-05-12 02:42:13.955 | INFO     | nomic.dataset:_create_project:860 - Organization name: `nomic`
2025-05-12 02:42:14.453 | INFO     | nomic.dataset:_create_project:878 - Creating dataset `airline-reviews-data`

## Upload to Atlas

In [7]:
dataset.add_data(df)

2025-05-12 02:42:53.678 | WARNING  | nomic.dataset:_validate_and_correct_arrow_upload:348 - Replacing 1 null values for field title with string 'null'. This behavior will change in a future version.
100%|██████████| 2/2 [00:01<00:00,  1.61it/s]
2025-05-12 02:42:54.922 | INFO     | nomic.dataset:_add_data:1714 - Upload succeeded.

## Create Data Map

We specify the `text` field from `df` as the field to create embeddings from. We choose some standard UMAP parameters as well.

In [8]:
from nomic.data_inference import ProjectionOptions

atlas_map = dataset.create_index(
    indexed_field='text',
    projection=ProjectionOptions(
      model="umap",
      n_neighbors=20,
      min_dist=0.01,
      n_epochs=200
  )
)

2025-05-12 02:45:19.821 | INFO     | nomic.dataset:create_index:1273 - Created map `0196c33d-a446-6784-d95c-423621815a5e` in dataset `nomic/airline-reviews-data`: https://atlas.nomic.ai/data/nomic/airline-reviews-data